<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
            point="com.microsoft.copilot.eclipse.ui.mcpRegistration">
        <provider
                class="com.microsoft.azuretools.azuremcp.GithubCopilotAzureMcpInitializer">
        </provider>
    </extension>
</plugin>
